<span style='font-size:72px'>hip<b>scape</b></span>
<br>
<p><i>Perfect your game.</i></p>

<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<% if !current_user %>
  <h3> Log in </h3>
  <%= form_tag(sessions_path) do %>
    <p>
      <%= label_tag("Email") %>
      <%= text_field_tag("email") %>
    </p>
    <p>
      <%= label_tag("Password") %>
      <%= password_field_tag("password") %>
    </p>
    <p><%= link_to "Forgot your password?", new_password_reset_path %></p>
    <%= submit_tag("Log In") %>
  <% end %>

  <h3>Sign Up</h3>
  <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
      <% @user.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    <% end %>
    <p>
      <%= f.label :username %>
      <%= f.text_field :username %>
    </p>
    <p>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </p>
    <p>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </p>
    <%= f.submit %>
  <% end %>
<% end %>

<% if current_user %>
  <%= link_to 'Sign Out', logout_path %>
<% end %>
