<h2><%= @grip.sub_position.position.name %> > <%= @grip.sub_position.name %> > <%= @grip.name %></h2>
<br>
<ul>
  <% @grip.instructional_videos.each do |vid| %>
    <ul>
      <li>Title: <%= vid.title %></li>
      <li>Url: <%= vid.url %></li>
      <li>Description: <%= vid.description %>
      <li>Category: <%= vid.major_category.name %>
      <li>Video:
        <video width="400" height="300" controls>
          <source src="https://s2e7pa89pb6x71.cloudfront.net/boaproject/Far+Leg+Calf+Slicer+from+X-Guard.mov" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </li>
    </ul>
  <% end %>
</ul>
