<h2><%= @grip.sub_position.position.name %> > <%= @grip.sub_position.name %> > <%= @grip.name %></h2>
<br>
<iframe src="http://player.vimeo.com/video/71230093" width="400px" height="300px" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
<br>
<ul>
  <% @grip.instructional_videos.each do |vid| %>
    <ul>
      <li>Title: <%= vid.title %></li>
      <li>Url: <%= vid.url %></li>
      <li>Description: <%= vid.description %>
      <li>Category: <%= vid.major_category.name %>
      <li>Video:
        <iframe src="http://player.vimeo.com/video/<%= vid.url %>" width="400px" height="300px" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      </li>
    </ul>
  <% end %>
</ul>
